In [1]:
import os
os.chdir("..")

In [2]:
import pandas as pd
from lib.constants import KIID_DATA_PATH

In [3]:
df = pd.read_csv(KIID_DATA_PATH)
df["IDENTYFIKATOR_KRAJOWY"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: IDENTYFIKATOR_KRAJOWY, dtype: float64

In [4]:
df

,ID_KIID,ID_ZESPOLU,NAZWA_SUBFUNDUSZU,NAZWA_FUNDUSZU,ISIN,IDENTYFIKATOR_KRAJOWY,NUMER_RFI,PODMIOT_ZARZADZAJACY,DATA_AKTUALIZACJI_KIID,KATEGORIE_JEDNOSTEK_UCZESTNICTWA,...,STOPA_ZWROTU_2021_BENCHMARK,DATA_PIERWSZEJ_WYCENY,DEPOZYTARIUSZ,KRS_TOWARZYSTWA,NIP_TOWARZYSTWA,SIEDZIBA_TOWARZYSTWA,KAPITAL_ZAKLADOWY_TOWARZYSTWA,WALUTA_KAPITALU_ZAKLADOWEGO_TO-WARZYSTWA,CZY_ESG,TYP_FUNDUSZU
0,520,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109,2,Amundi Subfundusz Globalnych Perspektyw Dynami...,NaN,NaN,NaN,NaN,NaN,NaN,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,412,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,394,2,NaN,Allianz Fundusz Inwestycyjny Otwarty,NaN,NaN,304.0,Towarzystwo Funduszy Inwestycyjnych Allianz Po...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,54,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,323,2,Rockbridge Subfundusz Gier i Innowacji,Rockbridge Fundusz Inwestycyjny Otwarty Paraso...,NaN,NaN,379.0,Rockbridge Towarzystwo Funduszy Inwestycyjnych...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN