In [1]:
import os
os.chdir("..")

In [2]:
import pandas as pd
from lib.constants import KIID_DATA_PATH

In [3]:
df = pd.read_csv(KIID_DATA_PATH)
df["IDENTYFIKATOR_KRAJOWY"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: IDENTYFIKATOR_KRAJOWY, dtype: float64

In [4]:
df

,ID_KIID,ID_ZESPOLU,NAZWA_SUBFUNDUSZU,NAZWA_FUNDUSZU,ISIN,IDENTYFIKATOR_KRAJOWY,NUMER_RFI,PODMIOT_ZARZADZAJACY,DATA_AKTUALIZACJI_KIID,KATEGORIE_JEDNOSTEK_UCZESTNICTWA,...,STOPA_ZWROTU_2021_BENCHMARK,DATA_PIERWSZEJ_WYCENY,DEPOZYTARIUSZ,KRS_TOWARZYSTWA,NIP_TOWARZYSTWA,SIEDZIBA_TOWARZYSTWA,KAPITAL_ZAKLADOWY_TOWARZYSTWA,WALUTA_KAPITALU_ZAKLADOWEGO_TO-WARZYSTWA,CZY_ESG,TYP_FUNDUSZU
0,134,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,242,2,Amundi Subfundusz Globalnych Perspektyw Konser...,NaN,NaN,NaN,NaN,NaN,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,2,NaN,BNP Paribas PPK Specjalistyczny Fundusz Inwest...,NaN,NaN,1650.0,BNP Paribas Towarzystwo Funduszy Inwestycyjnyc...,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,227,2,Generali Horyzont 2055,NaN,NaN,NaN,NaN,NaN,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,123,2,Generali Horyzont 2025,S-Collect Fundusz Inwestycyjny Zamknięty Niest...,NaN,NaN,201.0,Forum Towarzystwo Funduszy Inwestycyjnych S.A.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,459,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN